h1 {
    text-align: center;
}

.form-row {
    margin-top: 40px;
}


.shipping {
    margin-top: 20px;
}


#inputZip {
    width: 300px;
}

label {
    width: 300px;
}

.payment-control-input {
    margin-bottom: 20px;
}

.link {
    margin-bottom: 20px;
}

.return {
    margin-top: 50px;
}

h4 {
    text-align: center;
}